/drug_data/data/*
/drug_expriments/log/*
/drug_expriments/results/*
/drug_expriments/results_base/*
/drug_expriments/results_random/*
/drug_expriments/results_pharmDB/*
/general_exp/results/*
/PharmacotherapyDB/*
/PrimeKG/*
/eval_results/results/*
/split_data/results_nogood/*
/finetune_model/log/*
/eval_results/log/*
/finetune_model/data/*
/split_data/results/*
/split_data/path_data/*
/split_data/gemini_select/all_correct/*
/split_data/gemini_select/output/*
/split_data/gemini_select/log/*
/finetune_model/model_weight/*
/finetune_model/wandb/*
/eval_results/results/*
/eval_results/uncertainty_results/*
/eval_cot/results/*
/eval_cot/log/*
/grpo_path/negative_path/*
/grpo_path/path_data/*
/grpo_startup/log/*
/grpo_startup/model_weights/*
/grpo_startup/wandb/*

